body{
	background-color: hsl(270,50%,50%);
	font-family: Arial, Verdana, sans-serif;
}

h1{
	font-size: 2em;
	background: red;
}

p {
	font-size: 300%;
	text-shadow: -2px  1px 3px #000FFF;
}

.one {
	color: white;
	font-size: 1em;
}

span > p 
{
	color: yellow;
}
